html,body,#aui-header{background:#f8f8f8;}
.aui-title{margin-top:0.8rem;}
.addAccountBoxs{position:absolute;top:0.5rem;right:0.6rem;color:#333333;font-size:0.7rem;
height:30px;line-height:30px;border-radius:0.2rem;padding:0 0.5rem;background:#297aff;color:#FFFFFF;
}
